<div class="datepicker">
    <div class="wrapper">
        <div class="btn" [ico]="'navigate_left'" (click)="date.setDate(date.getDate()-1); fetchRoute()"></div>
        <div class="date" (click)="onClick()">{{date | financeDate}}</div>
        <label>
            <input #input type="date" [(ngModel)]="inputDate" (change)="fetchRoute()"/>
        </label>
        <div class="btn" [ico]="'navigate_right'" (click)="date.setDate(date.getDate()+1); fetchRoute()"></div>
    </div>
</div>
<div class="datepicker-ph"></div>

<finance-report-daily [date]="date"></finance-report-daily>
