@import "../../../styles/colors";
@import "../../../styles/widget";

:host {
  display: block;
  height: 100%;

  .widgets {
    .finance-widget-wrapper {
      margin-top: 1px;
    }

    .widget {
      @include widget-simple();

      .currencies > * {
        display: inline-block;
        margin: 1px 1px 0 0;
        padding: 0 20px;
      }

    }


  }
}
