<div class="wrapper">
    <div class="widgets">
        <div class="widget">
            <h1>Currencies</h1>

            <div class="currencies">
                <div *ngFor="let currency of db.calculatedCurrencies" class="coffer">
                    <strong>{{currency.title}}</strong>
                    <div>{{currency.amount}}</div>
                </div>
            </div>
            <br />
        </div>
        <div class="widget">
            <h1>Latest transactions</h1>
        </div>

        <finance-transaction-widget *ngFor="let transaction of transactions"
                                    [transaction]="transaction"></finance-transaction-widget>
    </div>
</div>