<div class="wrapper">
    <div class="widgets">
        <div class="widget">
            <h1>Currencies</h1>

            <div class="currencies">
                <div *ngFor="let currency of db.calculatedCurrencies" class="coffer">
                    <strong>{{currency.title}}</strong>
                    <div>{{currency.amount}}</div>
                </div>
            </div>
            <br/>
        </div>
        <div class="widget">
            <h1>Latest transactions</h1>
        </div>

        <finance-transaction-widget *ngFor="let transaction of transactions"
                                    [transaction]="transaction"></finance-transaction-widget>

        <div class="widget has-chart">
            <h1>This month statistic</h1>
            <finance-chart [data]="chartData"></finance-chart>
        </div>

        <finance-widget-wrapper *ngFor="let groupData of thisMonthGroupData"
                                [lines]="1" [model]="'group'" [item]="groupData.group"
                                [icon]="groupData.group.icon" [iconColor]="groupData.group.color">
            <div class="view">
                <p class="right">{{groupData.amount}}</p>
                <p>{{groupData.group.title}}</p>
            </div>
        </finance-widget-wrapper>

        <br />
        <br />
    </div>
</div>