:host {
  .finance-chart {
    .chart-inside {
      position: relative;
      max-width: 400px;
      margin: 0 20px;
      padding-bottom: 10px;

      > .sizer {
        width: 100%;
        padding-top: 100%;
      }

      > .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

  }
}
