@import "sizes";
@import "colors";

@mixin button() {
  min-width: $bar-width;
  height: $bar-width;
  padding: 14px;

  font-size: 16px;
  line-height: $bar-width - 20px;
  text-transform: uppercase;

  &.icon {
    width: $bar-width;
  }

  &.orange {
    background-color: $orange;
  }
  &.blue-dark {
    background-color: $blue-dark;
  }
  &.blue-green {
    background-color: $blue-green;
  }

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }
}