@import "colors";
@import "button";
@import "animation";

@mixin form-pop() {
  padding: 20px;
  background-color: #fff;
  color: $grey-8;

  .header {
    height: 50px;
    margin: -20px -20px 10px -20px;
    background-color: $grey-9;

    .button {
      @include button();
      svg {
        fill: #fff;
      }
    }
  }

  form {
    width: 100%;
  }

  label {
    display: block;
    width: 100%;

  }
  label, input {
    &.w-1 {
      float: left;
      width: 25%;
    }
    &.w-2 {
      float: left;
      width: 50%;
    }
    &.w-3 {
      float: left;
      width: 75%;
    }
    &.w-4 {
      float: left;
      width: 100%;
    }
  }

  span {
    display: block;
    margin-bottom: 10px;
  }

  input, select, textarea {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    background-color: $grey-1;
    border: 0 solid transparent;
    border-bottom: 1px solid $grey-5;
    color: #000;
    font-size: 16px;
    line-height: 20px;

    &:active,
    &:focus {
      border-color: $grey-6;
    }

    &.text-right {
      text-align: right;
    }

    &.invalid, &.ng-invalid {
      border-top: 1px solid transparent;
      border-bottom: 2px solid $red;
    }

    &[type="checkbox"] {
      width: 19px; height: 19px;
      float: left;

      & + span {
        margin-left: 24px;
      }
    }
  }

  textarea {
    box-sizing: border-box;
    height: auto;
    min-height: 80px;
    resize: vertical;
  }

  input[type='submit'] {
    width: 50%;
    background-color: $blue-green;
    color: #fff;
  }
}
