@import "../../../../styles/sizes";
@import "../../../../styles/colors";
@import "../../../../styles/button";

:host {
  height: $bar-width;

  .finance-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $bar-width;
    background-color: $grey-9;
    z-index: 200;

    .button {
      @include button();

      svg {
        fill: #fff;
      }
    }
  }
}
