@import "../../../styles/colors";
@import "../../../styles/forms";

:host {
  .finance-login-form {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(255,255,255,0.5);

    .wrapper {
      position: absolute;
      top: 20px; right: 20px; bottom: 20px; left: 20px;
      margin: auto;
      max-width: 400px;
      height: 260px;
      @include form-pop();
    }

    .floating-message {
      position: absolute;
      top: 20px; right: 0; bottom: 20px; left: 0;
      margin: auto;
      height: 60px;
      padding: 20px;

      font-size: 20px;
      line-height: 20px;
      background-color: $orange;
      color: #fff;
      text-align: center;
    }
  }
}
