@import "../../../../../styles/colors";
@import "../../../../../styles/sizes";
@import "../../../../../styles/button";
@import "../../../../../styles/animation";

:host {
  .finance-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;

    .closeArea {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .wrapper {
      position: fixed;
      top: 0;
      right: $bar-width;
      bottom: 0;
      left: 0;
      max-width: 400px;
      background-color: $grey-8;
      color: #fff;
      transform: translateX(-100%);
      @include animate-normal(transform);

      &.visible {
        transform: translateX(0);
      }

      .header {
        height: $bar-width;
        background-color: #000;

        .button {
          @include button();

          svg {
            fill: #fff;
          }
        }

        p {
          @include vertical-align();
        }
      }

      .container {
        position: absolute;
        top: $bar-width;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;

        .currencies {
          padding: 1px 0 0 1px;

          & > div {
            //display: inline-block;
            margin: 0 1px 1px 0;
            padding: 10px 20px;
            background-color: $grey-1;
            color: $grey-9;

            & > * {
              display: inline-block;
            }

            > div {
              float: right;
            }
          }
        }

        .navigation a,
        .menus .asLink {
          padding: 10px 20px;
          border-bottom: 1px solid $grey-9;
          color: #fff;
        }

      }
    }
  }
}
