@import "../../../../../styles/colors";
@import "../../../../../styles/sizes";
@import "../../../../../styles/button";

:host {
  .finance-main-menu {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;

    .wrapper {
      position: absolute;
      top: 0; right: $bar-width; bottom: 0; left: 0;
      max-width: 400px;
      background-color: $grey-1;
      color: $grey-8;

      .header {
        height: $bar-width;
        background-color: $grey-2;

        .button {
          @include button();

          svg {
            fill: $grey-8;
          }
        }
      }
    }
  }
}
