@import "../../../../styles/colors";

:host {
  display: block;

  .finance-transaction-widget {

    .date {
      small {
        font-size: 12px;
      }
    }

    .money {
      & > * {
        display: inline-block;
      }
      & > .amount {
        margin-right: 4px;
      }

      &.positive {
        color: $green;
      }
      &.negative {
        color: $red;
      }
    }

  }

}
