@import "../../../styles/colors";
@import "../../../styles/animation";

:host {
  .finance-widget-wrapper {
    position: relative;
    height: 40px;
    margin: 10px 10px 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px $grey-3;
    font-size: 14px;

    > .back-value {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 20px;
      line-height: 20px;
      z-index: -1;
    }

    > .icon,
    .manipulator {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 40px;
      .ico {
        width: 26px;
        height: 26px;
        margin: 7px;
      }
    }
    > .icon {
      right: 0;
    }

    > .wrapper {
      position: absolute;
      top: 0;
      right: 40px;
      bottom: 0;
      left: 0;
      overflow: hidden;

      line-height: 20px;

      > .slider {
        position: relative;
        width: 100%;

        > .manipulator {
          left: 0;
          svg {
            fill: $grey-8;
          }

          .ico {
            @include animate-long(transform);
          }

          &.alter .ico {
            transform: rotate(45deg);
          }
        }

        > .submenu {
          position: absolute;
          top: 0;
          bottom: 0;
          left: -80px;
          width: 80px;
          background-color: $grey-1;

          > .icon {
            width: 40px;
            height: 40px;
            .ico {
              width: 26px;
              height: 26px;
              margin: 7px;
              fill: $grey-8;
            }
          }

        }

        &.animated {
          @include animate-fast(transform);
          > .manipulator, > .submenu {
            @include animate-fast(transform);
          }
        }

        > .content {
          margin-left: 10px;
          color: $grey-8;

          &.interactive {
            margin-left: 40px;
          }

          .view {
            min-height: 40px;
          }

          .money, .date, p {
            padding: 10px 10px 10px 0;
          }

          .right {
            float: right;
          }

        }

      }
    }
  }

}
